force-app/main/default/flows/Digital_Audit_Template.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>openAuditRecord</name>
        <label>openAuditRecord</label>
        <locationX>1059</locationX>
        <locationY>438</locationY>
        <actionName>c:DA_OpenRecord</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordToNavigate</name>
            <value>
                <elementReference>thisDigitalAudit.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Initial_Date_Store</name>
        <label>Assign Initial Date &amp; Store</label>
        <locationX>185</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>thisDigitalAudit.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storeSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentUserStore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getConfiguration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignAuditHeaderData</name>
        <label>assignAuditHeaderData</label>
        <locationX>794</locationX>
        <locationY>438</locationY>
        <assignmentItems>
            <assignToReference>thisDigitalAudit.Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>startTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisDigitalAudit.End_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisDigitalAudit.Store__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>storeSelected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisDigitalAudit.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateAuditRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>resetNavigationVariable</name>
        <label>resetNavigationVariable</label>
        <locationX>348</locationX>
        <locationY>204</locationY>
        <assignmentItems>
            <assignToReference>primaryNavigation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>secondaryNavigation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>secondaryNavigation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>handleNavigation</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>sourcePicklist</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Source_Picklist_Store__c</stringValue>
        </value>
    </constants>
    <decisions>
        <name>handleNavigation</name>
        <label>handleNavigation</label>
        <locationX>527</locationX>
        <locationY>387</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X0_Navigation_Menu</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>primaryNavigation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Audit_Navigation_Menu</targetReference>
            </connector>
            <label>0 - Navigation Menu</label>
        </rules>
        <rules>
            <name>X1_Screen_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>primaryNavigation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_1</targetReference>
            </connector>
            <label>1 - Screen 1</label>
        </rules>
        <rules>
            <name>X2_Screen_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>primaryNavigation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_2</targetReference>
            </connector>
            <label>2 - Screen 2</label>
        </rules>
        <rules>
            <name>X3_Screen_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>primaryNavigation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_3</targetReference>
            </connector>
            <label>3 - Screen 3</label>
        </rules>
        <rules>
            <name>X4_Screen_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>primaryNavigation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_4</targetReference>
            </connector>
            <label>4 - Screen 4</label>
        </rules>
        <rules>
            <name>X5_Screen_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>primaryNavigation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_5</targetReference>
            </connector>
            <label>5 - Screen 5</label>
        </rules>
        <rules>
            <name>X6_Screen_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>primaryNavigation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_6</targetReference>
            </connector>
            <label>6 - Screen 6</label>
        </rules>
        <rules>
            <name>X7_Screen_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>primaryNavigation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_7</targetReference>
            </connector>
            <label>7 - Screen 7</label>
        </rules>
        <rules>
            <name>X8_Screen_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>primaryNavigation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>8</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_8</targetReference>
            </connector>
            <label>8 - Screen 8</label>
        </rules>
        <rules>
            <name>X9_Screen_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>primaryNavigation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>9</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_9</targetReference>
            </connector>
            <label>9 - Screen 9</label>
        </rules>
        <rules>
            <name>X10_Screen_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>primaryNavigation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_10</targetReference>
            </connector>
            <label>10 - Screen 10</label>
        </rules>
        <rules>
            <name>X50_Finalization</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>primaryNavigation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>50</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finalization</targetReference>
            </connector>
            <label>50 - Finalization</label>
        </rules>
        <rules>
            <name>X100_Record_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>primaryNavigation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>100</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignAuditHeaderData</targetReference>
            </connector>
            <label>100 - Record Creation</label>
        </rules>
    </decisions>
    <decisions>
        <name>handleNavigationPriority</name>
        <label>handleNavigationPriority</label>
        <locationX>526</locationX>
        <locationY>205</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isPrimary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>primaryNavigation</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>secondaryNavigation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>handleNavigation</targetReference>
            </connector>
            <label>isPrimary</label>
        </rules>
        <rules>
            <name>isSecondary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>primaryNavigation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>secondaryNavigation</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>resetNavigationVariable</targetReference>
            </connector>
            <label>isSecondary</label>
        </rules>
    </decisions>
    <description>A flow template designed to get you started building a Digital Store Audit for your business. Let&apos;s go!</description>
    <formulas>
        <name>completionStatus</name>
        <dataType>Number</dataType>
        <expression>( IF({!step1Complete} = TRUE, 1, 0) + 
IF({!step2Complete} = TRUE, 1, 0) + 
IF({!step3Complete} = TRUE, 1, 0) + 
IF({!step4Complete} = TRUE, 1, 0) +
IF({!step5Complete} = TRUE, 1, 0) +
IF({!step6Complete} = TRUE, 1, 0) +
IF({!step7Complete} = TRUE, 1, 0)  ) / 7 * 100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>currentUserFirstName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}</expression>
    </formulas>
    <formulas>
        <name>currentUserFullName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}&amp;&quot; &quot;&amp;{!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>currentUserStore</name>
        <dataType>String</dataType>
        <expression>text({!$User.Store__c})</expression>
    </formulas>
    <formulas>
        <name>dateFormatted</name>
        <dataType>String</dataType>
        <expression>CASE( MONTH( {!$Flow.CurrentDate} ) ,
1, &quot;Jan&quot;,
2, &quot;Feb&quot;,
3, &quot;Mar&quot;,
4, &quot;Apr&quot;,
5, &quot;May&quot;,
6, &quot;Jun&quot;,
7, &quot;Jul&quot;,
8, &quot;Aug&quot;,
9, &quot;Sep&quot;,
10, &quot;Oct&quot;,
11, &quot;Nov&quot;,
12, &quot;Dec&quot;,
&quot;None&quot;) +&apos; &apos; + text(DAY( {!$Flow.CurrentDate} )) + &apos;, &apos;+ Text(YEAR( {!$Flow.CurrentDate} ))</expression>
    </formulas>
    <interviewLabel>Digital Audit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Digital Audit: Template</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createAuditRecord</name>
        <label>createAuditRecord</label>
        <locationX>581</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getEmptyAuditRecord</targetReference>
        </connector>
        <inputReference>thisDigitalAudit</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getConfiguration</name>
        <label>getConfiguration</label>
        <locationX>311</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Audit_Opening_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>auditConfiguration</elementReference>
            </value>
        </filters>
        <object>Audit_Configuration__c</object>
        <outputReference>thisConfiguration</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Department_1__c</queriedFields>
        <queriedFields>Department_10__c</queriedFields>
        <queriedFields>Department_11__c</queriedFields>
        <queriedFields>Department_12__c</queriedFields>
        <queriedFields>Department_13__c</queriedFields>
        <queriedFields>Department_14__c</queriedFields>
        <queriedFields>Department_15__c</queriedFields>
        <queriedFields>Department_16__c</queriedFields>
        <queriedFields>Department_17__c</queriedFields>
        <queriedFields>Department_18__c</queriedFields>
        <queriedFields>Department_19__c</queriedFields>
        <queriedFields>Department_20__c</queriedFields>
        <queriedFields>Department_2__c</queriedFields>
        <queriedFields>Department_3__c</queriedFields>
        <queriedFields>Department_4__c</queriedFields>
        <queriedFields>Department_5__c</queriedFields>
        <queriedFields>Department_6__c</queriedFields>
        <queriedFields>Department_7__c</queriedFields>
        <queriedFields>Department_8__c</queriedFields>
        <queriedFields>Department_9__c</queriedFields>
        <queriedFields>Dept_Expectations_1__c</queriedFields>
        <queriedFields>Dept_Expectations_10__c</queriedFields>
        <queriedFields>Dept_Expectations_11__c</queriedFields>
        <queriedFields>Dept_Expectations_12__c</queriedFields>
        <queriedFields>Dept_Expectations_13__c</queriedFields>
        <queriedFields>Dept_Expectations_14__c</queriedFields>
        <queriedFields>Dept_Expectations_15__c</queriedFields>
        <queriedFields>Dept_Expectations_16__c</queriedFields>
        <queriedFields>Dept_Expectations_17__c</queriedFields>
        <queriedFields>Dept_Expectations_18__c</queriedFields>
        <queriedFields>Dept_Expectations_19__c</queriedFields>
        <queriedFields>Dept_Expectations_20__c</queriedFields>
        <queriedFields>Dept_Expectations_2__c</queriedFields>
        <queriedFields>Dept_Expectations_3__c</queriedFields>
        <queriedFields>Dept_Expectations_4__c</queriedFields>
        <queriedFields>Dept_Expectations_5__c</queriedFields>
        <queriedFields>Dept_Expectations_6__c</queriedFields>
        <queriedFields>Dept_Expectations_7__c</queriedFields>
        <queriedFields>Dept_Expectations_8__c</queriedFields>
        <queriedFields>Dept_Expectations_9__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Audit_Instructions__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getEmptyAuditRecord</name>
        <label>getEmptyAuditRecord</label>
        <locationX>723</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Audit_Navigation_Menu</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisDigitalAudit.Id</elementReference>
            </value>
        </filters>
        <object>Grocery_Store_Review__c</object>
        <outputReference>thisDigitalAudit</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Bakery_Comments__c</queriedFields>
        <queriedFields>Bakery_Rating__c</queriedFields>
        <queriedFields>Bulk_Comments__c</queriedFields>
        <queriedFields>Bulk_Rating__c</queriedFields>
        <queriedFields>Dairy_Comments__c</queriedFields>
        <queriedFields>Deli_Comments__c</queriedFields>
        <queriedFields>End_Displays_Comments__c</queriedFields>
        <queriedFields>Frozen_Comments__c</queriedFields>
        <queriedFields>Front_End_Comments__c</queriedFields>
        <queriedFields>Floral_Comments__c</queriedFields>
        <queriedFields>Front_Entrance_Comments__c</queriedFields>
        <queriedFields>Grocery_Comments__c</queriedFields>
        <queriedFields>Gluten_Free_Comments__c</queriedFields>
        <queriedFields>Janitorial_Comments__c</queriedFields>
        <queriedFields>Meat_Comments__c</queriedFields>
        <queriedFields>Outside_Comments__c</queriedFields>
        <queriedFields>Pallet_Displays_Comments__c</queriedFields>
        <queriedFields>Produce_Comments__c</queriedFields>
        <queriedFields>Restaurant_Comments__c</queriedFields>
        <queriedFields>Seafood_Comments__c</queriedFields>
        <queriedFields>Side_Panels_Comments__c</queriedFields>
        <queriedFields>Warehouse_Comments__c</queriedFields>
        <queriedFields>Dairy_Rating__c</queriedFields>
        <queriedFields>Deli_Rating__c</queriedFields>
        <queriedFields>End_Displays_Rating__c</queriedFields>
        <queriedFields>Meat_Rating__c</queriedFields>
        <queriedFields>Grocery_Rating__c</queriedFields>
        <queriedFields>Frozen_Rating__c</queriedFields>
        <queriedFields>Front_Entrance_Rating__c</queriedFields>
        <queriedFields>Floral_Rating__c</queriedFields>
        <queriedFields>Front_End_Rating__c</queriedFields>
        <queriedFields>Gluten_Free_Rating__c</queriedFields>
        <queriedFields>Outside_Rating__c</queriedFields>
        <queriedFields>Pallet_Displays_Rating__c</queriedFields>
        <queriedFields>Produce_Rating__c</queriedFields>
        <queriedFields>Restaurant_Rating__c</queriedFields>
        <queriedFields>Seafood_Rating__c</queriedFields>
        <queriedFields>Side_Panels_Rating__c</queriedFields>
        <queriedFields>Warehouse_Rating__c</queriedFields>
        <queriedFields>Date__c</queriedFields>
        <queriedFields>Start_Time__c</queriedFields>
        <queriedFields>End_Time__c</queriedFields>
        <queriedFields>Freight__c</queriedFields>
        <queriedFields>Projected_Day_Sales__c</queriedFields>
        <queriedFields>Rolling_Sales_Per_Hour__c</queriedFields>
        <queriedFields>Store__c</queriedFields>
        <queriedFields>Week_To_Date__c</queriedFields>
        <queriedFields>Total_Store_Janitorial_Performance__c</queriedFields>
        <queriedFields>Store_Sales_Yesterday__c</queriedFields>
        <queriedFields>Store_Faced__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateAuditRecord</name>
        <label>updateAuditRecord</label>
        <locationX>929</locationX>
        <locationY>438</locationY>
        <connector>
            <targetReference>openAuditRecord</targetReference>
        </connector>
        <inputReference>thisDigitalAudit</inputReference>
    </recordUpdates>
    <screens>
        <name>Audit_Navigation_Menu</name>
        <label>Audit Navigation Menu</label>
        <locationX>723</locationX>
        <locationY>203</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>handleNavigationPriority</targetReference>
        </connector>
        <fields>
            <name>header0</name>
            <extensionName>c:DA_Header</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>date</name>
                <value>
                    <elementReference>dateFormatted</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>store</name>
                <value>
                    <elementReference>storeSelected</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>thisConfiguration.Name</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>intro0</name>
            <extensionName>c:DA_NavigationIntro</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>userName</name>
                <value>
                    <elementReference>currentUserFirstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>instruction</name>
                <value>
                    <elementReference>thisConfiguration.Audit_Instructions__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>menu0</name>
            <extensionName>c:DA_NavigationMenu</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>steplink1</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steplink2</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steplink3</name>
                <value>
                    <stringValue>3</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steplink4</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steplink5</name>
                <value>
                    <stringValue>5</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steplink6</name>
                <value>
                    <stringValue>6</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>step1</name>
                <value>
                    <elementReference>step1Complete</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>step10</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>step2</name>
                <value>
                    <elementReference>step2Complete</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>step3</name>
                <value>
                    <elementReference>step3Complete</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>step4</name>
                <value>
                    <elementReference>step4Complete</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>step5</name>
                <value>
                    <elementReference>step5Complete</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>step6</name>
                <value>
                    <elementReference>step6Complete</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>step7</name>
                <value>
                    <elementReference>step7Complete</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>userName</name>
                <value>
                    <elementReference>currentUserFirstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepname6</name>
                <value>
                    <stringValue>Center of Store</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepname5</name>
                <value>
                    <stringValue> Restaurant/Deli/Meat/Seafood</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepname4</name>
                <value>
                    <stringValue>Produce/Floral/Bakery</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepname3</name>
                <value>
                    <stringValue>Displays</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepname2</name>
                <value>
                    <stringValue>Front of Store</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepname1</name>
                <value>
                    <stringValue>Key Audit Details</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stepname7</name>
                <value>
                    <stringValue>Specialties/Warehouse</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steplink10</name>
                <value>
                    <stringValue>50</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steplink7</name>
                <value>
                    <stringValue>7</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steplink8</name>
                <value>
                    <stringValue>8</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>steplink9</name>
                <value>
                    <stringValue>9</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>secondaryNavigation</assignToReference>
                <name>steplinkOut</name>
            </outputParameters>
        </fields>
        <fields>
            <name>footer0</name>
            <extensionName>c:DA_Footer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nav1</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nav2</name>
                <value>
                    <stringValue>50</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>status</name>
                <value>
                    <elementReference>completionStatus</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>primaryNavigation</assignToReference>
                <name>navOut</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Audit_Opening_Screen</name>
        <label>Audit Opening Screen</label>
        <locationX>450</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createAuditRecord</targetReference>
        </connector>
        <fields>
            <name>openHeader1</name>
            <extensionName>c:DA_OpenHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>thisConfiguration.Name</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>openBody1</name>
            <extensionName>c:DA_OpenBody</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>store</name>
                <value>
                    <elementReference>storeSelected</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>user</name>
                <value>
                    <elementReference>currentUserFullName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>date</name>
                <value>
                    <elementReference>dateFormatted</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sourcePicklist</name>
                <value>
                    <elementReference>sourcePicklist</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>storeSelected</assignToReference>
                <name>store</name>
            </outputParameters>
        </fields>
        <fields>
            <name>openFooter1</name>
            <extensionName>c:DA_OpenFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Finalization</name>
        <label>Finalization</label>
        <locationX>794</locationX>
        <locationY>597</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>handleNavigation</targetReference>
        </connector>
        <fields>
            <name>header50</name>
            <extensionName>c:DA_Header</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>thisConfiguration.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>date</name>
                <value>
                    <elementReference>dateFormatted</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>store</name>
                <value>
                    <elementReference>storeSelected</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>collect50</name>
            <extensionName>c:DA_AuditCollection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>comments1</name>
                <value>
                    <elementReference>thisDigitalAudit.Janitorial_Comments__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deptExp1</name>
                <value>
                    <elementReference>thisConfiguration.Dept_Expectations_20__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rating1</name>
                <value>
                    <elementReference>thisDigitalAudit.Total_Store_Janitorial_Performance__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tabName1</name>
                <value>
                    <elementReference>thisConfiguration.Department_20__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Janitorial_Comments__c</assignToReference>
                <name>comments1</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Total_Store_Janitorial_Performance__c</assignToReference>
                <name>rating1</name>
            </outputParameters>
        </fields>
        <fields>
            <name>upload50</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Audit Images</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>thisDigitalAudit.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>block50</name>
            <fieldText>&lt;p&gt; &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>footer50</name>
            <extensionName>c:DA_Footer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nav1</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nav2</name>
                <value>
                    <stringValue>100</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>control1</name>
                <value>
                    <stringValue>Menu</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>control2</name>
                <value>
                    <stringValue>Create Audit Report</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>status</name>
                <value>
                    <elementReference>completionStatus</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>primaryNavigation</assignToReference>
                <name>navOut</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>49</locationX>
        <locationY>167</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>handleNavigation</targetReference>
        </connector>
        <fields>
            <name>header1</name>
            <extensionName>c:DA_Header</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>date</name>
                <value>
                    <elementReference>dateFormatted</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>store</name>
                <value>
                    <elementReference>storeSelected</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>thisConfiguration.Name</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>data1</name>
            <extensionName>c:DA_DataCollection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>integerData1</name>
                <value>
                    <elementReference>thisDigitalAudit.Store_Sales_Yesterday__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>integerData2</name>
                <value>
                    <elementReference>thisDigitalAudit.Rolling_Sales_Per_Hour__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>integerData3</name>
                <value>
                    <elementReference>thisDigitalAudit.Projected_Day_Sales__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>integerData4</name>
                <value>
                    <elementReference>thisDigitalAudit.Week_To_Date__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>booleanData1</name>
                <value>
                    <elementReference>thisDigitalAudit.Store_Faced__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>booleanData2</name>
                <value>
                    <elementReference>thisDigitalAudit.Freight__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>booleanLabel1</name>
                <value>
                    <stringValue>Store Faced</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>booleanLabel2</name>
                <value>
                    <stringValue>Freight Finished</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>integerLabel1</name>
                <value>
                    <stringValue>Store Sales Yesterday</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>integerLabel2</name>
                <value>
                    <stringValue>Rolling Sales Per Hour</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>integerLabel3</name>
                <value>
                    <stringValue>Projected Day Sales</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>integerLabel4</name>
                <value>
                    <stringValue>+/- Week To Date</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>step1Complete</assignToReference>
                <name>complete</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Store_Faced__c</assignToReference>
                <name>booleanData1</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Freight__c</assignToReference>
                <name>booleanData2</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Store_Sales_Yesterday__c</assignToReference>
                <name>integerData1</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Rolling_Sales_Per_Hour__c</assignToReference>
                <name>integerData2</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Projected_Day_Sales__c</assignToReference>
                <name>integerData3</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Week_To_Date__c</assignToReference>
                <name>integerData4</name>
            </outputParameters>
        </fields>
        <fields>
            <name>footer1</name>
            <extensionName>c:DA_Footer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nav1</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nav2</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>control1</name>
                <value>
                    <stringValue>Menu</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>control2</name>
                <value>
                    <stringValue>Front of Store</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>status</name>
                <value>
                    <elementReference>completionStatus</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>primaryNavigation</assignToReference>
                <name>navOut</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_10</name>
        <label>Screen 10</label>
        <locationX>686</locationX>
        <locationY>597</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>handleNavigation</targetReference>
        </connector>
        <fields>
            <name>header10</name>
            <extensionName>c:DA_Header</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>thisConfiguration.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>date</name>
                <value>
                    <elementReference>dateFormatted</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>store</name>
                <value>
                    <elementReference>storeSelected</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>collect10</name>
            <extensionName>c:DA_AuditCollection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>complete</name>
                <value>
                    <elementReference>step10Complete</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>step10Complete</assignToReference>
                <name>complete</name>
            </outputParameters>
        </fields>
        <fields>
            <name>upload10</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Audit Images</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>thisDigitalAudit.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>block10</name>
            <fieldText>&lt;p&gt; &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>footer10</name>
            <extensionName>c:DA_Footer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nav1</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nav2</name>
                <value>
                    <stringValue>50</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>status</name>
                <value>
                    <elementReference>completionStatus</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>primaryNavigation</assignToReference>
                <name>navOut</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_2</name>
        <label>Screen 2</label>
        <locationX>49</locationX>
        <locationY>288</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>handleNavigation</targetReference>
        </connector>
        <fields>
            <name>header2</name>
            <extensionName>c:DA_Header</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>thisConfiguration.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>date</name>
                <value>
                    <elementReference>dateFormatted</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>store</name>
                <value>
                    <elementReference>storeSelected</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>collect2</name>
            <extensionName>c:DA_AuditCollection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>deptExp1</name>
                <value>
                    <elementReference>thisConfiguration.Dept_Expectations_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deptExp2</name>
                <value>
                    <elementReference>thisConfiguration.Dept_Expectations_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deptExp3</name>
                <value>
                    <elementReference>thisConfiguration.Dept_Expectations_3__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tabName1</name>
                <value>
                    <elementReference>thisConfiguration.Department_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tabName2</name>
                <value>
                    <elementReference>thisConfiguration.Department_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tabName3</name>
                <value>
                    <elementReference>thisConfiguration.Department_3__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comments1</name>
                <value>
                    <elementReference>thisDigitalAudit.Outside_Comments__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comments2</name>
                <value>
                    <elementReference>thisDigitalAudit.Front_Entrance_Comments__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comments3</name>
                <value>
                    <elementReference>thisDigitalAudit.Front_End_Comments__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rating1</name>
                <value>
                    <elementReference>thisDigitalAudit.Outside_Rating__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rating2</name>
                <value>
                    <elementReference>thisDigitalAudit.Front_Entrance_Rating__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rating3</name>
                <value>
                    <elementReference>thisDigitalAudit.Front_End_Rating__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>complete</name>
                <value>
                    <elementReference>step2Complete</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Outside_Comments__c</assignToReference>
                <name>comments1</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Front_Entrance_Comments__c</assignToReference>
                <name>comments2</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Front_End_Comments__c</assignToReference>
                <name>comments3</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Outside_Rating__c</assignToReference>
                <name>rating1</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Front_Entrance_Rating__c</assignToReference>
                <name>rating2</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Front_End_Rating__c</assignToReference>
                <name>rating3</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>step2Complete</assignToReference>
                <name>complete</name>
            </outputParameters>
        </fields>
        <fields>
            <name>upload2</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Audit Images</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>thisDigitalAudit.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>block2</name>
            <fieldText>&lt;p&gt; &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>footer2</name>
            <extensionName>c:DA_Footer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nav1</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nav2</name>
                <value>
                    <stringValue>3</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>control1</name>
                <value>
                    <stringValue>Menu</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>control2</name>
                <value>
                    <stringValue>Displays</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>status</name>
                <value>
                    <elementReference>completionStatus</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>primaryNavigation</assignToReference>
                <name>navOut</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_3</name>
        <label>Screen 3</label>
        <locationX>49</locationX>
        <locationY>410</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>handleNavigation</targetReference>
        </connector>
        <fields>
            <name>header3</name>
            <extensionName>c:DA_Header</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>thisConfiguration.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>date</name>
                <value>
                    <elementReference>dateFormatted</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>store</name>
                <value>
                    <elementReference>storeSelected</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>collect3</name>
            <extensionName>c:DA_AuditCollection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>comments1</name>
                <value>
                    <elementReference>thisDigitalAudit.Pallet_Displays_Comments__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comments2</name>
                <value>
                    <elementReference>thisDigitalAudit.End_Displays_Comments__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comments3</name>
                <value>
                    <elementReference>thisDigitalAudit.Side_Panels_Comments__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>complete</name>
                <value>
                    <elementReference>step3Complete</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rating1</name>
                <value>
                    <elementReference>thisDigitalAudit.Pallet_Displays_Rating__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rating2</name>
                <value>
                    <elementReference>thisDigitalAudit.End_Displays_Rating__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rating3</name>
                <value>
                    <elementReference>thisDigitalAudit.Side_Panels_Rating__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deptExp1</name>
                <value>
                    <elementReference>thisConfiguration.Dept_Expectations_4__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deptExp2</name>
                <value>
                    <elementReference>thisConfiguration.Dept_Expectations_5__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deptExp3</name>
                <value>
                    <elementReference>thisConfiguration.Dept_Expectations_6__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tabName1</name>
                <value>
                    <elementReference>thisConfiguration.Department_4__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tabName2</name>
                <value>
                    <elementReference>thisConfiguration.Department_5__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tabName3</name>
                <value>
                    <elementReference>thisConfiguration.Department_6__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Pallet_Displays_Comments__c</assignToReference>
                <name>comments1</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>thisDigitalAudit.End_Displays_Comments__c</assignToReference>
                <name>comments2</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Side_Panels_Comments__c</assignToReference>
                <name>comments3</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>step3Complete</assignToReference>
                <name>complete</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Pallet_Displays_Rating__c</assignToReference>
                <name>rating1</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>thisDigitalAudit.End_Displays_Rating__c</assignToReference>
                <name>rating2</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Side_Panels_Rating__c</assignToReference>
                <name>rating3</name>
            </outputParameters>
        </fields>
        <fields>
            <name>upload3</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Audit Images</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>thisDigitalAudit.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>block3</name>
            <fieldText>&lt;p&gt; &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>footer3</name>
            <extensionName>c:DA_Footer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nav1</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nav2</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>control1</name>
                <value>
                    <stringValue>Menu</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>control2</name>
                <value>
                    <stringValue>Product/Floral/Bakery</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>status</name>
                <value>
                    <elementReference>completionStatus</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>primaryNavigation</assignToReference>
                <name>navOut</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_4</name>
        <label>Screen 4</label>
        <locationX>49</locationX>
        <locationY>536</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>handleNavigation</targetReference>
        </connector>
        <fields>
            <name>header4</name>
            <extensionName>c:DA_Header</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>thisConfiguration.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>date</name>
                <value>
                    <elementReference>dateFormatted</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>store</name>
                <value>
                    <elementReference>storeSelected</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>collect4</name>
            <extensionName>c:DA_AuditCollection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>comments1</name>
                <value>
                    <elementReference>thisDigitalAudit.Produce_Comments__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comments2</name>
                <value>
                    <elementReference>thisDigitalAudit.Floral_Comments__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comments3</name>
                <value>
                    <elementReference>thisDigitalAudit.Bakery_Comments__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>complete</name>
                <value>
                    <elementReference>step4Complete</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deptExp1</name>
                <value>
                    <elementReference>thisConfiguration.Dept_Expectations_7__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deptExp2</name>
                <value>
                    <elementReference>thisConfiguration.Dept_Expectations_8__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deptExp3</name>
                <value>
                    <elementReference>thisConfiguration.Dept_Expectations_9__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rating1</name>
                <value>
                    <elementReference>thisDigitalAudit.Produce_Rating__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rating2</name>
                <value>
                    <elementReference>thisDigitalAudit.Floral_Rating__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rating3</name>
                <value>
                    <elementReference>thisDigitalAudit.Bakery_Rating__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tabName1</name>
                <value>
                    <elementReference>thisConfiguration.Department_7__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tabName2</name>
                <value>
                    <elementReference>thisConfiguration.Department_8__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tabName3</name>
                <value>
                    <elementReference>thisConfiguration.Department_9__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Produce_Comments__c</assignToReference>
                <name>comments1</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Floral_Comments__c</assignToReference>
                <name>comments2</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Bakery_Comments__c</assignToReference>
                <name>comments3</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>step4Complete</assignToReference>
                <name>complete</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Produce_Rating__c</assignToReference>
                <name>rating1</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Floral_Rating__c</assignToReference>
                <name>rating2</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Bakery_Rating__c</assignToReference>
                <name>rating3</name>
            </outputParameters>
        </fields>
        <fields>
            <name>upload4</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Audit Images</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>thisDigitalAudit.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>block4</name>
            <fieldText>&lt;p&gt; &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>footer4</name>
            <extensionName>c:DA_Footer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nav1</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nav2</name>
                <value>
                    <stringValue>5</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>control1</name>
                <value>
                    <stringValue>Menu</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>control2</name>
                <value>
                    <stringValue>Restaurant/Deli/Meat/Seafood</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>status</name>
                <value>
                    <elementReference>completionStatus</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>primaryNavigation</assignToReference>
                <name>navOut</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_5</name>
        <label>Screen 5</label>
        <locationX>156</locationX>
        <locationY>596</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>handleNavigation</targetReference>
        </connector>
        <fields>
            <name>header5</name>
            <extensionName>c:DA_Header</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>thisConfiguration.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>date</name>
                <value>
                    <elementReference>dateFormatted</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>store</name>
                <value>
                    <elementReference>storeSelected</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>collect5</name>
            <extensionName>c:DA_AuditCollection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>comments1</name>
                <value>
                    <elementReference>thisDigitalAudit.Restaurant_Comments__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comments2</name>
                <value>
                    <elementReference>thisDigitalAudit.Deli_Comments__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comments3</name>
                <value>
                    <elementReference>thisDigitalAudit.Meat_Comments__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comments4</name>
                <value>
                    <elementReference>thisDigitalAudit.Seafood_Comments__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>complete</name>
                <value>
                    <elementReference>step5Complete</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deptExp1</name>
                <value>
                    <elementReference>thisConfiguration.Dept_Expectations_10__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deptExp2</name>
                <value>
                    <elementReference>thisConfiguration.Dept_Expectations_11__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deptExp3</name>
                <value>
                    <elementReference>thisConfiguration.Dept_Expectations_12__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deptExp4</name>
                <value>
                    <elementReference>thisConfiguration.Dept_Expectations_13__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rating1</name>
                <value>
                    <elementReference>thisDigitalAudit.Restaurant_Rating__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rating2</name>
                <value>
                    <elementReference>thisDigitalAudit.Deli_Rating__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rating3</name>
                <value>
                    <elementReference>thisDigitalAudit.Meat_Rating__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rating4</name>
                <value>
                    <elementReference>thisDigitalAudit.Seafood_Rating__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tabName1</name>
                <value>
                    <elementReference>thisConfiguration.Department_10__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tabName2</name>
                <value>
                    <elementReference>thisConfiguration.Department_11__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tabName3</name>
                <value>
                    <elementReference>thisConfiguration.Department_12__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tabName4</name>
                <value>
                    <elementReference>thisConfiguration.Department_13__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Restaurant_Comments__c</assignToReference>
                <name>comments1</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Deli_Comments__c</assignToReference>
                <name>comments2</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Meat_Comments__c</assignToReference>
                <name>comments3</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Seafood_Comments__c</assignToReference>
                <name>comments4</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Restaurant_Rating__c</assignToReference>
                <name>rating1</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Deli_Rating__c</assignToReference>
                <name>rating2</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Meat_Rating__c</assignToReference>
                <name>rating3</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Seafood_Rating__c</assignToReference>
                <name>rating4</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>step5Complete</assignToReference>
                <name>complete</name>
            </outputParameters>
        </fields>
        <fields>
            <name>upload5</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Audit Images</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>thisDigitalAudit.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>block5</name>
            <fieldText>&lt;p&gt; &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>footer5</name>
            <extensionName>c:DA_Footer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nav1</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nav2</name>
                <value>
                    <stringValue>6</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>control1</name>
                <value>
                    <stringValue>Menu</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>control2</name>
                <value>
                    <stringValue>Center of Store</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>status</name>
                <value>
                    <elementReference>completionStatus</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>primaryNavigation</assignToReference>
                <name>navOut</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_6</name>
        <label>Screen 6</label>
        <locationX>263</locationX>
        <locationY>597</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>handleNavigation</targetReference>
        </connector>
        <fields>
            <name>header6</name>
            <extensionName>c:DA_Header</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>thisConfiguration.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>date</name>
                <value>
                    <elementReference>dateFormatted</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>store</name>
                <value>
                    <elementReference>storeSelected</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>collect6</name>
            <extensionName>c:DA_AuditCollection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>comments1</name>
                <value>
                    <elementReference>thisDigitalAudit.Grocery_Comments__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comments2</name>
                <value>
                    <elementReference>thisDigitalAudit.Dairy_Comments__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comments3</name>
                <value>
                    <elementReference>thisDigitalAudit.Frozen_Comments__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>complete</name>
                <value>
                    <elementReference>step6Complete</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rating1</name>
                <value>
                    <elementReference>thisDigitalAudit.Grocery_Rating__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rating2</name>
                <value>
                    <elementReference>thisDigitalAudit.Dairy_Rating__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rating3</name>
                <value>
                    <elementReference>thisDigitalAudit.Frozen_Rating__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deptExp1</name>
                <value>
                    <elementReference>thisConfiguration.Dept_Expectations_14__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deptExp2</name>
                <value>
                    <elementReference>thisConfiguration.Dept_Expectations_15__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deptExp3</name>
                <value>
                    <elementReference>thisConfiguration.Dept_Expectations_16__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tabName1</name>
                <value>
                    <elementReference>thisConfiguration.Department_14__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tabName2</name>
                <value>
                    <elementReference>thisConfiguration.Department_15__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tabName3</name>
                <value>
                    <elementReference>thisConfiguration.Department_16__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Grocery_Comments__c</assignToReference>
                <name>comments1</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Dairy_Comments__c</assignToReference>
                <name>comments2</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Frozen_Comments__c</assignToReference>
                <name>comments3</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>step6Complete</assignToReference>
                <name>complete</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Grocery_Rating__c</assignToReference>
                <name>rating1</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Dairy_Rating__c</assignToReference>
                <name>rating2</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Frozen_Rating__c</assignToReference>
                <name>rating3</name>
            </outputParameters>
        </fields>
        <fields>
            <name>upload6</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Audit Images</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>thisDigitalAudit.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>block6</name>
            <fieldText>&lt;p&gt; &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>footer6</name>
            <extensionName>c:DA_Footer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nav1</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nav2</name>
                <value>
                    <stringValue>7</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>control1</name>
                <value>
                    <stringValue>Menu</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>control2</name>
                <value>
                    <stringValue>Specialties/Warehouse</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>status</name>
                <value>
                    <elementReference>completionStatus</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>primaryNavigation</assignToReference>
                <name>navOut</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_7</name>
        <label>Screen 7</label>
        <locationX>366</locationX>
        <locationY>597</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>handleNavigation</targetReference>
        </connector>
        <fields>
            <name>header7</name>
            <extensionName>c:DA_Header</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>thisConfiguration.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>date</name>
                <value>
                    <elementReference>dateFormatted</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>store</name>
                <value>
                    <elementReference>storeSelected</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>collect7</name>
            <extensionName>c:DA_AuditCollection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>comments1</name>
                <value>
                    <elementReference>thisDigitalAudit.Bulk_Comments__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comments2</name>
                <value>
                    <elementReference>thisDigitalAudit.Gluten_Free_Comments__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comments3</name>
                <value>
                    <elementReference>thisDigitalAudit.Warehouse_Comments__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>complete</name>
                <value>
                    <elementReference>step7Complete</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rating1</name>
                <value>
                    <elementReference>thisDigitalAudit.Bulk_Rating__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rating2</name>
                <value>
                    <elementReference>thisDigitalAudit.Gluten_Free_Rating__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rating3</name>
                <value>
                    <elementReference>thisDigitalAudit.Warehouse_Rating__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deptExp1</name>
                <value>
                    <elementReference>thisConfiguration.Dept_Expectations_17__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deptExp2</name>
                <value>
                    <elementReference>thisConfiguration.Dept_Expectations_18__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deptExp3</name>
                <value>
                    <elementReference>thisConfiguration.Dept_Expectations_19__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tabName1</name>
                <value>
                    <elementReference>thisConfiguration.Department_17__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tabName2</name>
                <value>
                    <elementReference>thisConfiguration.Department_18__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tabName3</name>
                <value>
                    <elementReference>thisConfiguration.Department_19__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Bulk_Comments__c</assignToReference>
                <name>comments1</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Gluten_Free_Comments__c</assignToReference>
                <name>comments2</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Warehouse_Comments__c</assignToReference>
                <name>comments3</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>step7Complete</assignToReference>
                <name>complete</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Bulk_Rating__c</assignToReference>
                <name>rating1</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Gluten_Free_Rating__c</assignToReference>
                <name>rating2</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>thisDigitalAudit.Warehouse_Rating__c</assignToReference>
                <name>rating3</name>
            </outputParameters>
        </fields>
        <fields>
            <name>upload7</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Audit Images</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>thisDigitalAudit.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>block7</name>
            <fieldText>&lt;p&gt; &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>footer7</name>
            <extensionName>c:DA_Footer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nav1</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nav2</name>
                <value>
                    <stringValue>50</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>control1</name>
                <value>
                    <stringValue>Menu</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>status</name>
                <value>
                    <elementReference>completionStatus</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>primaryNavigation</assignToReference>
                <name>navOut</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_8</name>
        <label>Screen 8</label>
        <locationX>470</locationX>
        <locationY>597</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>handleNavigation</targetReference>
        </connector>
        <fields>
            <name>header8</name>
            <extensionName>c:DA_Header</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>thisConfiguration.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>date</name>
                <value>
                    <elementReference>dateFormatted</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>store</name>
                <value>
                    <elementReference>storeSelected</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>collect8</name>
            <extensionName>c:DA_AuditCollection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>complete</name>
                <value>
                    <elementReference>step8Complete</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>step8Complete</assignToReference>
                <name>complete</name>
            </outputParameters>
        </fields>
        <fields>
            <name>upload8</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Audit Images</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>thisDigitalAudit.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>block8</name>
            <fieldText>&lt;p&gt; &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>footer8</name>
            <extensionName>c:DA_Footer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nav1</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nav2</name>
                <value>
                    <stringValue>9</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>status</name>
                <value>
                    <elementReference>completionStatus</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>primaryNavigation</assignToReference>
                <name>navOut</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_9</name>
        <label>Screen 9</label>
        <locationX>577</locationX>
        <locationY>597</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>handleNavigation</targetReference>
        </connector>
        <fields>
            <name>header9</name>
            <extensionName>c:DA_Header</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>thisConfiguration.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>date</name>
                <value>
                    <elementReference>dateFormatted</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>store</name>
                <value>
                    <elementReference>storeSelected</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>collect9</name>
            <extensionName>c:DA_AuditCollection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>complete</name>
                <value>
                    <elementReference>step9Complete</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>step9Complete</assignToReference>
                <name>complete</name>
            </outputParameters>
        </fields>
        <fields>
            <name>upload9</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Audit Images</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>thisDigitalAudit.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>block9</name>
            <fieldText>&lt;p&gt; &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>footer9</name>
            <extensionName>c:DA_Footer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nav1</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nav2</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>status</name>
                <value>
                    <elementReference>completionStatus</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>primaryNavigation</assignToReference>
                <name>navOut</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Assign_Initial_Date_Store</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>auditConfiguration</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>primaryNavigation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>secondaryNavigation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>startTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.InterviewStartTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>step10Complete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>step1Complete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>step2Complete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>step3Complete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>step4Complete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>step5Complete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>step6Complete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>step7Complete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>step8Complete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>step9Complete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storeSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thisConfiguration</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Audit_Configuration__c</objectType>
    </variables>
    <variables>
        <name>thisDigitalAudit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Grocery_Store_Review__c</objectType>
    </variables>
</Flow>
